<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>tetratoon</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/mystyle.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="/assets/js/myscript.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="center">
      <img src="/assets/img/logo.png">
    </div>

    <table class="table table-bordered">
      <tr>
        <% @gamedata1.each.with_index(1) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata2.each.with_index(11) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata3.each.with_index(21) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata4.each.with_index(31) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata5.each.with_index(41) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata6.each.with_index(51) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata7.each.with_index(61) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata8.each.with_index(71) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata9.each.with_index(81) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>

      <tr>
        <% @gamedata10.each.with_index(91) do |data,index| %>
        <% if data.data == 1 then %>
        <td class="white" id="<%= index %>"></td>
        <% elsif data.data == 2 then %>
        <td class ="black" id="<%= index %>"></td>
        <% else %>
        <td class="gray" id="<%= index %>"></td>
        <% end %>
        <% end %>
      </tr>
    </table>
    <div class="row">
      <div class="col-xs-6 next_blocks">
        <img src="/assets/img/next_block.png">
        <table class="table table-bordered" id="next_blocks">
          <tr>
            <td class="black font_white" id="1">■</td>
            <td class ="gray" id="2"></td>
            <td class="gray" id="3"></td>
          </tr>
          <tr>
            <td class="black" id="4"></td>
            <td class ="gray" id="5"></td>
            <td class="gray" id="6"></td>
          </tr>
          <tr>
            <td class="gray" id="7"></td>
            <td class ="black" id="8"></td>
            <td class="black" id="9"></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-6 remaining_turn font_white">
        <img src="/assets/img/remaining_turn.png">
        <h3>15ターン</h3>
      </div>
    </div>
    <!--<form action="/new" method="post">-->
    <!--  <p>数値：<input type="text" name="data"> <input type="submit" value="追加"></p>-->
    <!--</form>-->
  </div>
</body>
</html>
